/*reset des marges*/
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    height: 100%;
}

header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article {
    border: solid #000000 1px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px 3px 5px 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    width: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
}

ul {
    margin-left: 0;
    padding-left: 40px;
}


#main {

    max-width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 15px grey;
    padding: 50px;
    width: 100%;
}

#textheader {
    padding-top: 20px;
    padding-right: 10px;
}

.button {
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    max-width: 400px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 5px;
}

.button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: black;
    border-radius: 10px;
}

.button2 {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 30px;
    margin-right: 2px;
    margin-left: 2px;
}

.button2:hover {
    color: black;
    border-radius: 10px;
}

#cadrepresa {
    margin-bottom: 50px;
}

#buttondroite {
    float: right;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.logo {
    width: 100%;
}

#logo_index {
    width: 25%;
}

input,
select {
    margin-bottom: 5px;
    width: 170px;
}

textarea {
    width: 100%;
}

.textwrapper {
    display: block;
    padding: 10px;
}

#connexion {
    box-shadow: 2px 2px 15px grey;
    border-radius: 10px;
    padding: 50px;
    width: 300px;

}

#creationaccount {
    box-shadow: 2px 2px 15px grey;
    border-radius: 10px;
    padding: 50px;
    width: 500px;
}

#profil {
    box-shadow: 2px 2px 15px grey;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reinit_mdp {
    box-shadow: 2px 2px 15px grey;
    border-radius: 10px;
    padding: 50px;
    width: 500px;
}

@media screen and (max-width: 414px) {
    #main {
        width: 100%;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .button {
        margin-bottom: 3px;
    }

    article {
        width: 100%;
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    #main {
        width: 100%;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .button {
        margin-bottom: 3px;
    }

    article {
        width: 100%;
        font-size: 14px;
    }
}