/*reset des marges*/
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body,
html {
    height: 100%;
}

header {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article {
    box-shadow: 2px 2px 15px grey;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    width: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
}

ul {
    margin-left: 0;
    padding-left: 40px;
}

input,
select {
    margin-bottom: 5px;
    width: 200px;
}

h1,
h2,
h3 {
    font-family: 'Baloo 2', cursive;
}

h1 {
    font-size: 32px;
    text-align: center;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 24px;
}

input[type="submit"] {
    width: auto;
}

p {
    text-align: justify;
}

td {
    text-align: center;
    width: 50%;
}

#main {

    max-width: 1280px;
    min-height: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 15px grey;
    padding: 50px;
    width: 100%;
}

#textheaderuser {
    padding-top: 20px;
    padding-right: 10px;
    font-size: 24px;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
}

#textheader {
    padding-top: 20px;
    padding-right: 10px;
}

#comm_vote {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#prenom_comm {
    font-weight: bold;
}

.center {
    text-align: center;
}

.button {
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    max-width: 200px;
    border-radius: 5px;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: black;
    border-radius: 10px;
}

.buttoncomm {
    padding: 5px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    margin-right: 2px;
    margin-left: 2px;
    cursor: pointer;
}

.buttoncenter {
    margin-right: auto;
    margin-left: auto;
}

.buttoncomm:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: black;
    border-radius: 10px;
}

.buttonlikedislike {
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 30px;
    background: none;
    cursor: pointer;
    margin-right: 2px;
    margin-left: 2px;
    transition: color 0.3s;
}

.position {
    margin: auto;
}

.like:hover {
    color: green;
}

.dislike:hover {
    color: red;
}

#cadrepresa {
    margin-bottom: 50px;
}

#buttondroite {
    float: right;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}

.logo {
    width: 100%;
}

figure {
    width: 25%;
}

#logo_index {
    width: 100%;
}

#partenaires {
    display: flex;
    flex-direction: row;
}

#partenaires_right {
    width: 75%;
    margin: 5px;
}

select,
input {
    margin-bottom: 5px;
    width: 170px;
}

textarea {
    width: 100%;
}

#textwrapper {
    display: block;
    padding: 10px;
}

#connexion {
    box-shadow: 2px 2px 15px grey;
    border-radius: 10px;
    padding: 50px;
    width: 300px;

}

#creationaccount {
    box-shadow: 2px 2px 15px grey;
    border-radius: 10px;
    padding: 50px;
    width: 50%;
}

.profil {
    box-shadow: 2px 2px 15px grey;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image_index {
    width: 100%;
}

.red {
    color: red;
}

.green {
    color: green;
}

#reinit_mdp {
    box-shadow: 2px 2px 15px grey;
    border-radius: 10px;
    padding: 50px;
    width: 500px;
}

@media screen and (max-width: 414px) {
    #main {
        width: 100%;
        padding: 0;
    }

    #textheaderuser {
        font-size: 18px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 12px;
    }

    .button {
        margin-bottom: 3px;
    }

    article {
        width: 100%;
        font-size: 14px;
    }

    figure {
        width: 100%;
    }

    #logo_index {
        width: 100%;
    }

    #creationaccount {
        width: 100%;
    }

    #partenaires {
        display: flex;
        flex-direction: column;
    }

    #partenaires_right {
        width: 100%;
        margin: 5px;
    }

    .profil {
        width: 95%;
    }
}

@media screen and (max-width: 768px) {
    #main {
        width: 100%;
    }

    h2 {
        font-size: 26px;
    }

    p {
        font-size: 12px;
    }

    .button {
        margin-bottom: 3px;
    }

    #creationaccount {
        width: 75%;
    }

    article {
        width: 100%;
        font-size: 14px;
    }
}